@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Color Palette
$prime: #ffd4a3;
$prime-dark: #cb781e;
$prime-dark-second: #cb8228;
$coffee: saddlebrown;

$light: #fcc388;
$grey: #E8E8E8;
$red: #E16C6C;
$white: #ffffff;

// Padding & margin, Sizing
$cube: 1rem;

// Fonts
$font1: "Pacifico", cursive;
$font2: "Roboto", sans-serif;
$font3: "Caveat", cursive;
$font4: "Danicing Script", Cursive;
